# .gitignore

# Node.js
node_modules/
npm-debug.log

# Archivos de entorno
.env

# Archivos de construcción y dependencias
/build/
/dist/

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivo de bloqueo de versiones de npm
package-lock.json